.skill-title{
    background-color: transparent;
    color: white;
    border: none;
}

.skill-progress{
    background-color: transparent;
    color: white;
    border: none;
    min-width:100px;
    width: 80%;
}