<div class="fade-in">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="card text-center">
                <div class="service-icon">
                    <i class="bi bi-back"></i>
                </div>
                <span class="service-title">Back-end Development</span>
                <span class="service-description">With expertise in ASP.NET Core, Node.js, and SQL Server, I can
                    effectively contribute as a back-end developer by designing and implementing robust server-side
                    applications.</span>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card text-center">
                <div class="service-icon">
                    <i class="bi bi-front"></i>
                </div>
                <span class="service-title">Front-end Development</span>
                <span class="service-description">With experience in designing responsive web applications using HTML,
                    CSS, JavaScript, and Angular, I excel in creating user-friendly interfaces and collaborating in
                    Agile Scrum teams.</span>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card text-center">
                <div class="service-icon">
                    <i class="bi bi-database"></i>
                </div>
                <span class="service-title">Database Design</span>
                <span class="service-description">With strong skills in Microsoft SQL Server, I can effectively analyze
                    and design database solutions to optimize data management and support application
                    functionality.</span>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card text-center">
                <div class="service-icon">
                    <i class="bi bi-wrench-adjustable"></i>
                </div>
                <span class="service-title">Consultancy</span>
                <span class="service-description">Leveraging extensive experience in software development and Agile
                    methodologies, I provide strategic IT consultancy to enhance project efficiency and drive
                    innovation.</span>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card text-center">
                <div class="service-icon">
                    <i class="bi bi-infinity"></i>
                </div>
                <span class="service-title">DevOps Solutions</span>
                <span class="service-description"> With expertise in Azure DevOps and GitLab, I deliver robust CI/CD
                    solutions to streamline development workflows and enhance project efficiency.</span>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>